# Ignore node_modules directory
node_modules/

# Ignore environment variable files
.env

# Ignore build output
dist/
build/

# Ignore log files
*.log

# Ignore temporary files
.DS_Store

# Ignore package-lock.json
package-lock.json

.idea/
